name: Salesforce Code Analyzer Workflow

on:
  pull_request:
    paths:
      - 'force-app/main/default/**'
      - 'sfca-config.yml'

jobs:
  sfca:
    runs-on: ubuntu-latest

    steps:
      # -------------------------------
      # Checkout repository
      # -------------------------------
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 

      # -------------------------------
      # Setup Node and Salesforce CLI
      # -------------------------------
      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli@latest

      - name: Install Salesforce Code Analyzer Plugin
        run: sf plugins install code-analyzer@latest

      # -------------------------------
      # Run Salesforce Code Analyzer (entire force-app)
      # -------------------------------
      - name: Run Salesforce Code Analyzer (force-app)
        uses: forcedotcom/run-code-analyzer@v2
        with:
          run-arguments: >
            --workspace .
            --target force-app/main/default
            --view detail
            --fail-on-violations
            --output-file sfca_results.html
            --output-file sfca_results.json
          results-artifact-name: salesforce-code-analyzer-results
          github-token: ${{ github.token }}