name: Salesforce Code Analyzer Workflow

on:
  pull_request:
    paths:
      - 'force-app/main/default/**'
      - 'code-analyzer.yml'

jobs:
  sfca:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli@latest

      - name: Install Salesforce Code Analyzer Plugin
        run: sf plugins install code-analyzer@latest

      # -----------------------------------------------------------
      # Run Salesforce Code Analyzer (Full Scan + Fail on Violation)
      # -----------------------------------------------------------
      - name: Run Salesforce Code Analyzer (Full Scan)
        uses: forcedotcom/run-code-analyzer@v2
        with:
          # --severity-threshold 3 ensures the job fails if violations are found
          run-arguments: --workspace . --target ./force-app/main/default --view detail --output-file sfca_results.html --output-file sfca_results.json --severity-threshold 3
          results-artifact-name: salesforce-code-analyzer-results
          github-token: ${{ github.token }}