name: Salesforce Code Analyzer Workflow

on:
  pull_request:
    paths:
      - 'force-app/main/default/**'
      - 'code-analyzer.yml'

jobs:
  sfca:
    runs-on: ubuntu-latest

    steps:
      # -------------------------------
      # Checkout repository
      # -------------------------------
      - name: Checkout repository
        uses: actions/checkout@v5

      # -------------------------------
      # Setup Node and Salesforce CLI
      # -------------------------------
      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli@latest

      - name: Install Salesforce Code Analyzer Plugin
        run: sf plugins install code-analyzer@latest

      # -------------------------------
      # Run Salesforce Code Analyzer (Full Scan)
      # -------------------------------
      - name: Run Salesforce Code Analyzer
        uses: forcedotcom/run-code-analyzer@v2
        with:
          # Scans the entire force-app directory instead of specific files
          run-arguments: --workspace . --target ./force-app --view detail --output-file sfca_results.html
          results-artifact-name: salesforce-code-analyzer-results
          github-token: ${{ github.token }}
          # This ensures the job fails (X) if any violations are found
          severity-threshold: 3