name: Salesforce Code Analyzer Workflow

on:
  pull_request:
    paths:
      - 'force-app/main/default/**'
      - 'code-analyzer.yml'

jobs:
  sfca:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Salesforce CLI and Analyzer
        run: |
          npm install -g @salesforce/cli@latest
          sf plugins install code-analyzer@latest

      # -----------------------------------------------------------
      # Run Analyzer: --severity-threshold 1 makes the command fail 
      # automatically if any violation (Severity 1, 2, or 3) is found.
      # -----------------------------------------------------------
      - name: Run Salesforce Code Analyzer
        uses: forcedotcom/run-code-analyzer@v2
        with:
          # This automatically fails the build if violations are found
          run-command: 'run'
          target: 'force-app/main/default'
          # Tell it to fail if there are any violations of severity 1, 2, or 3
          severity-threshold: 3 
          outfile: 'results.html'

      - name: Upload results
        if: always() # Upload even if the scan failed
        uses: actions/upload-artifact@v4
        with:
          name: salesforce-code-analyzer-results
          path: results.html