name: Salesforce Code Analyzer Workflow

on:
  pull_request:
    paths:
      - 'force-app/main/default/**'
      - 'code-analyzer.yml'

# Permissions required to write the summary/review to the PR UI
permissions:
  pull-requests: write
  contents: read
  statuses: write

jobs:
  sfca:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli@latest

      - name: Install Salesforce Code Analyzer Plugin
        run: sf plugins install code-analyzer@latest

      # Run the analyzer and give it an ID so we can reference its outputs
      - name: Run Salesforce Code Analyzer
        id: run-analyzer
        uses: forcedotcom/run-code-analyzer@v2
        with:
          run-arguments: --workspace . --target ./force-app/main/default --view detail --output-file sfca_results.html --output-file sfca_results.json
          results-artifact-name: salesforce-code-analyzer-results
          github-token: ${{ github.token }}

      # Fail the PR and show count in UI
      - name: Check for violations
        if: always() # Run even if previous step failed
        run: |
          VIOLATIONS=${{ steps.run-analyzer.outputs.num-violations }}
          echo "### Salesforce Code Analyzer violation count: $VIOLATIONS" >> $GITHUB_STEP_SUMMARY
          
          if [ "$VIOLATIONS" -gt 0 ]; then
            echo "::error::Salesforce Code Analyzer found $VIOLATIONS violations. Failing PR."
            exit 1
          else
            echo "No violations found. PR passed."
          fi